<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Test</title>



  <!-- bootstrapcdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 filter">
        <div id="filter">
          <button id="filter-button" type="button">Filter</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Our CSS -->
  <link rel="stylesheet" href="static/style.css">

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/app.js"></script>
</body>

</html>